

@*
   
*@
@{
    ViewData["Title"] = "Quadrant";
}

@model List<Habit> 


@{
    ViewData["Title"] = "Task Quadrants";
}

<style>
    .table-scroll {
        overflow-x: auto;
        display: block;
        white-space: nowrap; /* Prevents text from wrapping */
        max-width: 100%; /* Ensures it does not break the layout */
    }

    /* Hide Habit ID and Quadrant ID columns */
    .hidden-column {
        display: none;
    }

</style>

<h2>Task Quadrants</h2>
<a asp-action="AddTask" class="btn btn-primary mb-3">Add New Task</a>
<div class="container">
    <div class="row">
        <div class="col-2 border border-dark p-3 bg-light text-center font-weight-bold"></div>
        <div class="col-5 border border-dark p-3 bg-light">
            <h4 class="text-center">Urgent</h4>
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <h4 class="text-center">Not Urgent</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark h-4 bg-light text-center font-weight-bold">
            <h4 class="text-center">Important</h4>
        </div>
        <div class="col-5 border border-dark p-3 bg-light table-scroll">
            <p class="text-center">Quadrant 1</p>
            <table class="table table-striped table-hover table-bordered align-middle">
                <thead class="table-dark text-center">
                    <tr>
                        <th class="hidden-column">Habit ID</th>
                        <th>Task Name</th>
                        <th>Due Date</th>
                        <th class="hidden-column">Quadrant Id</th>
                        <th>Completed</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td class="text-center hidden-column">@x.HabitId</td>
                            <td>@x.TaskName</td>
                            <td class="text-center">@x.DueDate</td>
                            <td class="hidden-column">@x.QuadrantId</td>
                            <td class="text-center">@x.Completed</td>
                            <td class="text-center">@x.Category.CategoryName</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-info text-white" asp-controller="Home" asp-action="Edit" asp-route-id="@x.HabitId">
                                    Edit
                                </a>
                                <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.HabitId">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <p class="text-center">Quadrant 2</p>
            <table class="table table-striped table-hover table-bordered align-middle">
                <thead class="table-dark text-center">
                <tr>
                    <th class="hidden-column">Habit ID</th>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th class="hidden-column">Quadrant Id</th>
                    <th>Completed</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td class="text-center hidden-column">@x.HabitId</td>
                        <td>@x.TaskName</td>
                        <td class="text-center">@x.DueDate</td>
                        <td class="hidden-column">@x.QuadrantId</td>
                        <td class="text-center">@x.Completed</td>
                        <td class="text-center">@x.Category.CategoryName</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-info text-white" asp-controller="Home" asp-action="Edit" asp-route-id="@x.HabitId">
                                Edit
                            </a>
                            <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.HabitId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    </div>
    <div class="row">
        <div class="col-2 border border-dark h-4 bg-light text-center font-weight-bold">
            <h4 class="text-center">Not Important</h4>
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <p class="text-center">Quadrant 3</p>
            <table class="table table-striped table-hover table-bordered align-middle">
                <thead class="table-dark text-center">
                <tr>
                    <th class="hidden-column">Habit ID</th>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th class="hidden-column">Quadrant Id</th>
                    <th>Completed</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td class="text-center hidden-column">@x.HabitId</td>
                        <td>@x.TaskName</td>
                        <td class="text-center">@x.DueDate</td>
                        <td class="hidden-column">@x.QuadrantId</td>
                        <td class="text-center">@x.Completed</td>
                        <td class="text-center">@x.Category.CategoryName</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-info text-white" asp-controller="Home" asp-action="Edit" asp-route-id="@x.HabitId">
                                Edit
                            </a>
                            <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.HabitId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <p class="text-center">Quadrant 4</p>
            <table class="table table-striped table-hover table-bordered align-middle">
                <thead class="table-dark text-center">
                <tr>
                    <th class="hidden-column">Habit ID</th>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th class="hidden-column">Quadrant Id</th>
                    <th>Completed</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td class="text-center hidden-column">@x.HabitId</td>
                        <td>@x.TaskName</td>
                        <td class="text-center">@x.DueDate</td>
                        <td class="hidden-column">@x.QuadrantId</td>
                        <td class="text-center">@x.Completed</td>
                        <td class="text-center">@x.Category.CategoryName</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-info text-white" asp-controller="Home" asp-action="Edit" asp-route-id="@x.HabitId">
                                Edit
                            </a>
                            <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.HabitId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table> </div>
        </div>
    </div>
</div>
